:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --white-text-colot: #ffffff;
  --footer-text-color: #f4f4fd;
  --web-text-color: #4d5ae5;
  --hover-focus-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* box-sizing: border-box; */
  /* outline: 1px red solid; */
}
nav {
  display: flex;
}

/* Header-Container */
.header {
  padding: 24px 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  /* padding: 0 15px; */
}

/* WebStudio logo header */
.logo-container {
  display: block;
}
.logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-text-color);
}
.icon-logo {
  color: var(--primary-text-color);
}

/* WebStudio navigation */

.nav-conteainer {
  display: flex;
  /* align-items: center; */
  gap: 40px;
  margin-left: 76px;
}
.container-item {
  display: flex;
}

.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-itms {
  color: var(--primary-text-color);
}
.link-itms:hover {
  color: #404bbf;
}
.link-itms:focus {
  color: #404bbf;
}

/* ADDRESS CONTACTS */

.address-container {
  display: flex;
  gap: 40px;
}
.address-section {
  font-style: normal;
  margin-left: auto;
}
.address-items {
  display: flex;
  justify-content: flex-end;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: block;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}
/* Section 1 */
.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
  text-align: center;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
}
.order-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.order-container {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}
.order-button {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* SECTION 2 ABOUT US */
.section-about-us {
  padding: 120px 0;
}
.about-us-title {
  display: none;
}
.container-about {
  display: flex;
  gap: 24px;
}
.about-items {
  min-width: 264px;
}
.about-items::before {
  display: block;
  content: "";
  height: 112px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.about-items:hover::before,
.about-items:focus::before {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-antenna::before {
  background-image: url(../images/antenna\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../images/clock\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-diagram::before {
  background-image: url(../images/diagram\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-astronaut::before {
  background-image: url(../images/astronaut\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
/* SECTION 3 WORK */
.work-container {
  display: flex;
  margin: 0 auto;
  /* padding-bottom: 120px; */
}
.worf-section {
  padding-bottom: 120px 0;
}
.works-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.work-list {
  /* display: block;
  justify-content: center;
  width: 360px;
  height: 300px; */
  margin-bottom: 120px;
  /* margin-right: 40px; */
}
.work-list:not(:last-child) {
  margin-right: 24px;
}
/* SECTION 4 TEAM */
.team-container {
  display: flex;
  /* gap: 24px; */
  /* padding-bottom: 120px; */
}
.team-wrap {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-itms {
  width: 264px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  /* margin-right: 40px; */
  /* gap: 24px; */
}
.team-itms:not(:last-child) {
  margin-right: 24px;
}
/* .soc-wrap {
  padding-top: 8px;
} */

.team-text-wrap {
  padding: 32px 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link:hover,
.team-soc-link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #404bbf;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-icon {
  fill: #ffffff;
}
.team-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  /* padding-top: 32px; */
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  /* padding-bottom: 32px; */
}
/* Section Customer */
.customer {
  padding: 120px 0;
}
.customer-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
/* .customer-items {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  display: flex;
} */
.customer-link {
  border-radius: 4px;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid currentColor;
  color: #8e8f99;
}
.customer-link:hover,
.customer-link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--hover-focus-color);
}
.customer-icon {
  fill: currentColor;
}
.customer-icon:hover,
.customer-icon:focus {
  color: var(--hover-focus-color);
}
/* .customer-items:hover,
.customer-items:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--hover-focus-color);
} */
/* FOOTER */
.footer-container {
  display: flex;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.icon-logo-footer {
  color: #f4f4fd;
}
.footer-text {
  padding-top: 16px;
  color: #f4f4fd;
  max-width: 264px;
  line-height: 1.5;
}
.footer-soc-link {
  display: flex;
}
.soc-text {
  font-family: "Roboto";
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* Portfolio main page */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Portfolio button */
.filter-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  /* border: 1px solid #e7e9fc;
  border-radius: 4px; */
}
.filter-list-item:focus,
.filter-list-item:hover {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filter-list-item {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

/* Photo list work */
.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.img-container :hover,
.img-container :focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.work-text-wrap {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.img-work:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.work-lead {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 32px 0 8px 16px;
}
.work-lead-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 8px 0 32px 16px;
}
/* FOOTER */
.footer {
  background-color: #2e2f42;
}
.icon-logo-footer {
  color: #f4f4fd;
}
.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-soc-list {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
